.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
*.lock
.vpprefdata/
.bak_000f
*.bak_000f
*.bak_001d
*.bak_002d
.idea/
tmp/
gradle/
*.lck
*.bak_004d
*.bak_000d
*.bak_001f
task1/build/
